In [34]:
import csv
import random
import datetime
import pandas as pd

In [35]:
def random_date():
    currentTime = datetime.datetime.now()
    nextTime = currentTime + datetime.timedelta(minutes=random.randrange(60))
    return nextTime

In [36]:
records = int(input('Enter the number of records to generate: '))

Enter the number of records to generate: 100

In [37]:
print('Generating {0} records...\n'.format(records))

Generating 100 records...

In [67]:
columns =['LightID','Timestamp','V1','V2','V3','V4','V5','Distance','Color','Result']

In [68]:
possible_colors   =['W', 'R', 'B', 'G']

In [69]:
possible_outcomes =['Pass', 'Fail']

In [70]:
timestamps = list()
lightids   = list()
v1s = list()
v2s = list()
v3s = list()
v4s = list()
v5s = list()
distances = list()
colors = list()
outcomes = list()

In [71]:
for i in range(0, records):
    lightids.append(i+1)
    timestamps.append(random_date()) 
    v1s.append(random.uniform(40,50))
    v2s.append(random.uniform(40,50))
    v3s.append(random.uniform(40,50))
    v4s.append(random.uniform(40,50))
    v5s.append(random.uniform(40,50))
    distances.append(random.uniform(0.50,1.80))
    colors.append(random.choice(possible_colors))
    outcomes.append(random.choice(possible_outcomes))

In [72]:
data = {    columns[0]:lightids,
            columns[1]:timestamps,
            columns[2]:v1s,
            columns[3]:v2s,
            columns[4]:v3s,
            columns[5]:v4s,
            columns[6]:v5s,
            columns[7]:distances,
            columns[8]:colors,
            columns[9]:outcomes
       }

In [78]:
df = pd.DataFrame(data=data,columns=columns)

In [74]:
pd.options.display.max_rows = 10

In [81]:
df.set_index(['LightID'],inplace=True)

In [82]:
df

,Timestamp,V1,V2,V3,V4,V5,Distance,Color,Result
LightID,,,,,,,,,
1,2021-04-07 20:53:46.605293,40.987615,46.679891,40.488626,45.819454,45.736027,1.749414,B,Pass
2,2021-04-07 21:09:46.605293,48.106033,46.884894,41.052973,47.393100,49.883844,1.427993,R,Fail
3,2021-04-07 21:46:46.605293,40.715893,46.007919,44.163590,47.763488,47.862018,1.775409,R,Pass
4,2021-04-07 21:49:46.605293,48.016920,46.101348,45.459285,41.196438,46.440977,1.698264,G,Pass
5,2021-04-07 21:24:46.605293,42.023001,42.660950,42.346841,41.741622,42.625973,0.616251,B,Pass
...,...,...,...,...,...,...,...,...,...
96,2021-04-07 21:10:46.606290,49.393159,46.909898,47.006462,42.552599,40.480900,1.734468,W,Pass
97,2021-04-07 21:20:46.606290,45.284317,43.970710,42.423319,40.016471,42.749833,1.774344,G,Pass
98,2021-04-07 21:44:46.606290,40.338265,48.142942,44.962105,44.183834,42.266489,1.536071,B,Pass
99,2021-04-07 20:57:46.606290,44.370998,44.302910,41.573708,44.862263,43.415233,1.107886,B,Fail
100,2021-04-07 21:46:46.606290,42.129533,49.362513,49.833119,48.611338,41.908125,1.651569,B,Fail

In [83]:
df.to_csv('data/measurements.csv',float_format='%.2f',header=True)